html {
 font-family: monospace;
 font-size: 1.1rem;
}

body {
 background: #0d1117;
 color: white;
}

.titleContainer{
 text-align: center;
}


.stopWatchContainer {
 font-size: 6vmax;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px white solid;
 
}

.buttonContainer {
 display: flex;
 align-items: center;
 flex-direction: column;
}

.buttonContainer button{
 margin-top: 30px;
 font-size: 30px;
 padding: 20px;
 border-radius: 40px;
 cursor: pointer;
 border:none;
}

.buttonContainer button:hover{
box-shadow: 0px 0px 29px 0px #FFFFFF;
}

.offOn {
 background-color:royalblue;
 
}

.reset{
 background-color:purple;
 color:white;
}

.legend {
 margin-top: 30px;
}

.legend div {
 display: flex;
 justify-content: center;
}

.stopBtn:focus{
 background-color: sandybrown;
}

